<!DOCTYPE HTML5>
<html lang='en'>
<head>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"> 
        <title>Admin Dashboard </title>
        <link rel="stylesheet" href="../static/css/styles.css"/> 
        <script src="../static/js/index.js"></script>       
    </head>
    <body>
        <!-- Navigation Menu -->
        <div id="nav">
            <ul>
                <li style="float:left;"><a href="index.html"><b>Book-A-Meal</b></a></li>
                <li><a style="color:#3bc1ed;"><small>Welcome: Admin</small></a></li>
                <li><a  class="active" href="customer_order_history.html">My Order History</a></li>
                <li><a href="customer_dashboard.html">Home</a></li>
            </ul>
        </div>
        <div class="wrapper">
            <div class="mainContent">
                <div id="orders">
                    <div class="header">
                        <h2 style="margin:5px">My Order History</h2>                     
                    </div>
                        
                    <ul id="menuList">
                    <li>#1 - Order</li>
                    <li>#1 - Order</li>
                    <li>#1 - Order</li>
                    <li>#1 - Order</li>
                    <li>#1 - Order</li>
                    <li>#1 - Order</li>
                    </ul>  
                    <span class="addBtn" style="margin: 5px;width: auto;background: #4CAF50;border-radius:10px; font-size: 14px;">Mark as Complete</span>                     
                </div>
            </div>
        </div>
    </body>
</html>