<!DOCTYPE HTML5>
<html lang='en'>
<head>
	<meta name = "viewport" content = "width = device-width, initial-scale = 1.0"> 
        <title>Sign In As Customer</title>
        <link rel="stylesheet" href="css/styles.css"/>   
        <script src="js/index.js"></script>     
    </head>
    <body>
         <!-- Navigation Menu -->
         <div id="nav"> 
            <ul>
                    <li style="float:left;"><a><b>Book-A-Meal</b></a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                <li><a href="menu.html" class="active">Menu</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </div>
        <div class="wrapper">
                <div class="mainContent" style="justify-content: center;">
                    <div id="daily_menu">
                        <div class="header">
                            <h2 style="margin:5px">Today's Menu</h2>                 
                        </div>
                            
                        <ul id="menuList">
                        <li><input type="checkbox" name="option1" value="">Rice and Chicken<span class="close">×</span></li>
                        <li><input type="checkbox" name="option2" value="">Rice and Fish<span class="close">×</span></li>                        
                        <li><input type="checkbox" name="option6" value="">Fries and Beef<span class="close">×</span></li>
                        <li><input type="checkbox" name="option5" value="">Potatoes and Meat<span class="close">×</span></li>
                        <li><input type="checkbox" name="option6" value="">Fries and Beef<span class="close">×</span></li>
                        </ul>  
                        <span class="addBtn" style="margin: 5px;width: auto;background: #3bc1ed;border-radius:10px; font-size: 14px;">Add To Order</span>                   
                    </div>
                </div>
            </div>
        </body>
    </html>